@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    --foreground: 228 228 231;
    --muted: 24 24 27;
    --muted-foreground: 161 161 170;
    --popover: 10 10 10;
    --popover-foreground: 228 228 231;
    --card: 10 10 10;
    --card-foreground: 228 228 231;
    --border: 24 24 27;
    --input: 24 24 27;
    --primary: 250 250 250;
    --primary-foreground: 10 10 10;
    --secondary: 24 24 27;
    --secondary-foreground: 250 250 250;
    --accent: 24 24 27;
    --accent-foreground: 250 250 250;
    --destructive: 127 29 29;
    --destructive-foreground: 250 250 250;
    --ring: 24 24 27;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image:
      linear-gradient(hsl(var(--border)) 1px, transparent 1px),
      linear-gradient(to right, hsl(var(--border)) 1px, hsl(var(--background)) 1px);
    background-size: 32px 32px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
  }
}
